aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
idna==2.10
msgpack==1.0.2
multidict==5.1.0
py-algorand-sdk==1.4.1
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.10.1
pycryptodomex==3.10.1
PyNaCl==1.4.0
requests==2.25.1
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.3
yarl==1.6.3
